* {
    box-sizing: border-box;
}

.table {
    color: #5A5A5A;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    width: 860px;
    border-collapse: collapse;
    margin: 10px auto;
}

.table-head th:nth-child(1) {
    width: 20%;
}

.table-head th:nth-child(2) {
    width: 20%;
}

.table-head th:nth-child(3) {
    width: 36%;
}

th, td {
    outline: #3498DB;
    border: 2px ridge #EBEBEB;
    padding: 14px 10px;
}

th {
    text-align: left;
    border-color: #70ACD5;
   }

.table-head {
    color: #FFFFFF;
    background-color: #3498DB;
}

.table-body tr:nth-child(odd) {
    background-color: #EEEEEE;
}